.checkout-footer {
    height: 100px;
    background-color: #ededed;
}

.checkout-footer .ant-segmented-item-label {
    height: 100%;
}

.checkout-footer .ant-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: left;
}

.checkout-footer-buyer-info .anticon, .checkout-footer-shopping-cart .anticon {
    font-size: 2em;
}

.checkout-footer-buyer-info {
    line-height: 18px;
}